@tailwind base;

/* Write your own custom base styles here */

.container-extended {
  margin-left: auto;
  margin-right: auto;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-black text-gray-500;
}

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.min-table-width {
  min-width: 100px;
}

.sb-max-w-xs {
  max-width: 6rem;
}

.sb-max-w-s {
  max-width: 10rem;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
